* {
    font-family: 'Cabin Sketch', serif;
    color: black;

    
}
body {
    background: url("goldpink.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    padding: 100px;

  }
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
 .flip-card-front {
      background-color: #ff8b8b;
    }
  
.flip-card-back {
    background-color: #ff8b8b;
    color: black;
    transform: rotateY(180deg);
  }

}
.leftnavi {
    height: auto;
    display: block;
    font-weight: bold;
    font-size: 200px;
    overflow-x: hidden; 
    padding: 100x;
    position: fixed;
    background-color: rgb(136, 136, 136);
    opacity: 0.5;
    justify-content: space-evenly;
    
}  
.leftnavi a:hover{
    color: #ff8b8b;
}

.img {
    border-radius: 50%;
}
