* {
    font-family: 'Cabin Sketch', serif;
    color: black;

    
}
.container {
    display: flex;
    flex-flow: row wrap; 
    text-align: center;       
 }

body {
    background: url("goldpink.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* margin: 0; */
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    padding: 100px;
    position: fixed;

  }
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
 .flip-card-front {
      background-color: transparent;
    }
  
.flip-card-back {
    background-color: #ff8b8b;
    color: black;
    transform: rotateY(180deg);
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


.leftnavi {
   background-color: transparent;
   position: fixed;
   padding: 20px;
   font-size: 30px;
   font-weight: 600;
    
}  
.leftnavi a:hover{
    color: #ff8b8b;
}

.flip-card img {
    border-radius: 50%;
    display: flex;
    
}
.main {
    margin: auto;
    padding: 250px;
    text-align: center;
    position: relative;
    left: 300px;
    
}
.main header {
    font-size: 100px;
}
.main h1 q {
    color: maroon;
    font-weight: bolder;
    
}
.pics {
    margin: auto;
    padding: 100px;
    text-align: center;
    position: relative;
    left: 300px;
    
}